header {
    background: $background_header;
    position: fixed;
    width: 100%;
    box-shadow: 0px 22px 68px -18px rgba(0, 0, 0, 0.86);
}

body {
    font-family: $font_general;
    color: $font_color;
}

.scheda {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background_scheda;
    margin: 20px;
    padding: 15px;
    width: 240px;
    text-align: center;
    border-radius: 10px;

    img {
        width: 200px;
        height: 200px;
        object-fit: contain;
        object-position: bottom;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
