$background_scheda: linear-gradient(45.34deg, #355C7D 5.66%, #6C5B7B 49.09%, #C06C84 93.43%);
$background_header: linear-gradient(45deg, #B1E0B0, #ACB4E7);
$background_main: linear-gradient(45.34deg, #FBB13C 5.66%, #FF7A72 48.62%, #FF7A72 94.35%);
$font_general: 'Noto Sans', sans-serif;
$font_color: #fff;
