* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.scheda {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  margin: 20px;
  padding: 10px;
  max-width: 220px;
}

.scheda img {
  width: 200px;
}

.scheda h1 {
  font-size: 20px;
}

.playlist {
  display: flex;
  flex-wrap: wrap;
}

